services:
  database:
    image: postgres:16
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=travel
    volumes:
      - pg-data:/var/lib/postgresql/data

volumes:
  pg-data:
